# Configurações do Banco de Dados PostgreSQL (Local)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=SUA_SENHA_LOCAL_AQUI
DB_NAME=price_monitor_api

# Configurações de Autenticação JWT
JWT_SECRET=GERAR_UM_SEGREDO_FORTE_E_ALEATORIO_AQUI
JWT_EXPIRES_IN=1d

# Email (Mailtrap.io)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=SEU_USER_DO_MAILTRAP_AQUI
EMAIL_PASS=SUA_SENHA_DO_MAILTRAP_AQUI
EMAIL_FROM="Price Monitor <monitor@pricemonitor.com>"